
./vs/**
.vs/WpfApplication2/v15/sqlite3/storage.ide
.vs/WpfApplication2/v14/.suo
.vs/WpfApplication2/v15/.suo
WpfApplication2/obj/Debug/WpfApplication2_MarkupCompile.lref
WpfApplication2/obj/Debug/WpfApplication2.csproj.CoreCompileInputs.cache
